/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

/* body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
} */

/* Typography */
h1 {
    margin: 20px 0;
}

/* Container Styles */
.container {
    position: relative;
    min-height: 100vh;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
}

/* Search Box Styles */
.container .search-box {
    position: relative;
    height: 42px;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.search-box input {
    position: absolute;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: #323334;
    padding: 0 15px 0 45px;
    color: #fff;
    border-radius: 6px;
}

.search-box i {
    position: absolute;
    z-index: 2;
    color: #999;
    top: 50%;
    left: 15px;
    font-size: 20px;
    transform: translateY(-50%);
}

/* Image Gallery Styles */
.container .images .image-box {
    position: relative;
    height: 300px;
    width: 210px;
    border-radius: 6px;
    overflow: hidden;
}

.images {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.images .image-box {
    margin: 8px;
}

.images .image-box img {
    height: 100%;
    width: 100%;
    border-radius: 6px;
    transition: transform 0.2s linear;
}

.image-box:hover img {
    transform: scale(1.05);
}

.image-box h6 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
}

/* Button Container Styles */
.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Projects Container */
.projects-container {
    margin: 20px;
}

/* Links */
a {
    display: block;
    margin: 20px;
    text-decoration: none;
    color: blue;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .button-container {
        flex-direction: row;
    }

    button {
        font-size: 14px;
        padding: 8px 16px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    button {
        font-size: 12px;
        padding: 6px 12px;
    }
}

@media (max-width: 576px) {
    .button-container {
        flex-direction: column;
        align-items: center;
    }

    button {
        width: 80%;
        font-size: 14px;
        padding: 10px;
    }

    a {
        font-size: 16px;
    }
}
